body{
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
}
.box{ background: #414247;
       border: 1px solid #656871;
    padding:30px;
    width:350px;
    height: 250px;}
.box .head{display: flex;
    justify-content: center;
           align-items:center; }
 div.head .img{ width:80px;
                height:80px;
              background: #656871;
             border-radius:50%;
             position: relative;
             overflow: hidden;
            }
div.head .detail{ margin-left:20px;}

  .detail span{  display: block;
                background: #656871;
                border-radius:10px;
                 overflow: hidden;  
                    }
                    .detail .name{ width: 100px;
                        height: 16px;
                        
                    }
                        .detail .about{ width: 150px;
                            height: 16px;
                            margin-top: 15px;
                        }
       .box div.content { margin: 25px 0;
                           }
                           div.content .line{
                                background-color: #656871;
                                  border-radius:10px;
                                  position: relative;
                                  overflow: hidden;
                                  margin: 20px 0;
                                
                            }

             div.content  .first-line{ width:320px;
                                       height: 15px;
                                       
                                        }

             div.content  .second-line{ width:300px;
                height: 15px;
                                  
                                }

             div.content  .third-line{ width:350px;
                height: 15px;
                                    }
            .box div.btns{ margin: 35px 0;
                            display: flex;
                        justify-content: center;}
          

          
        div.head .img,
        .detail span,
        div.content .line,
        .btns .btn-1::before
         { 
 background-image:linear-gradient(#656871 0%, #fff 20%,#656871 40%,#656871 100%); 
                    background-repeat: no-repeat;
                  background-size: 450px  400px;
                    animation: skeleton 1s linear infinite;} 
        .head .img::before{ background-size: 650px 600px;}
        .detail span::before{ animation-delay: 0.2s;}
        .btns .btn-1::before{ animation-delay: 0.2s;}
        @keyframes  skeleton{ 
            0%{ background-position:-450px;}
            100%{ background-position: 450px 0;}
        }